body {
    background-image: url('./BG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

h1 {
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125;
    margin: 0px;
    transition: transform 1s, text-shadow 0.5s;
}

h3 {
  font-weight: 100;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25;
  margin: -5px;
  color: white;
  transition: transform 0.5s, text-shadow 0.5s;
}

.textelements {
  position: relative;
  margin-left: 10%;
  margin-right: auto;
  width: 50em;
  top: 40%;
}

h1:hover {
  transform: translateY(-5px);
  text-shadow: 0 5px 5px #00000040;
}

h3:hover {
  transform: translateY(-5px);
  text-shadow: 0 5px 5px #00000040;
}

