body {
    background-image: url("BG.png");
}

:root {
    --pink: #e91e63;
    --green: #76c566;
    --purple: #9c27b0;
}

.bodyforms {
    margin-left:auto;
    margin-right:auto;
    width: 50em;
    height: 10em;
    position:relative;
    top: 40%;
}

header {
    align-items: right;
}

.btn2 {
    margin-left: auto;
    margin-right: auto;
    width: 7.75em;
    background-color: #76c56680;
    padding: 0.5em 1.5em;
    font-size: 1.5em;
    margin: 5px;
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}



.btn2:hover {
    transform: translateY(-5px);
    background-color: var(--green);
    box-shadow: 0 5px 5px #00000040;
}

.btn1 {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: #76c56680;
    padding: 0.5em 1.5em;
    font-size: 1.5em;
    margin: 5px;
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.btn1:hover {
    transform: translateY(-5px);
    background-color: var(--green);
    box-shadow: 0 5px 5px #00000040;
}

.form-control {
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    margin: 5px;
    background-color: #ffffff50;
    padding: 0.5em 1.5em;
    font-size: 1.5em;
    color: black;
    outline: none;
    border: none;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    transition: transform 0.2s, box-shadow 0.2s background-color 0.2s;
}

.form-control:focus, .form-control:hover {
    background-color: white;
}