body {
    background-image: url('./BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center, center;
  }

h1 {
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125;
    margin: 0px;
    text-shadow: 0 2px 2px #00000040;
}

h3 {
  font-weight: bold;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25;
  margin: -5px;
  color: white;
  text-shadow: 0 2px 2px #00000040;
}

.textelements {
  position: relative;
  margin-left: 10%;
  margin-right: auto;
  width: 50em;
  top: 40%;
  transition: transform 1s, text-shadow 2s;
}

.textelements:hover {
  transform: translateY(-5px);
  text-shadow: 0 5px 5px #00000040;
}

.btn {
  position: relative;
  border: none;
  outline: none;
  padding: 0.5em 1.5em;
  margin-left: 10px;
  margin-top: 30px;
  font-size: large;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: transform 0.5s, box-shadow 0.5s;
  border-radius: 1.5em;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 5px #00000040;
  cursor: pointer;
}

.dbtn {
  background-color: #7289da;
  color: white;
}

.tbtn {
  background-color: #0088cc;
  color: white;
}
